H1{
  background-color: rgb(27, 124, 27);
  text-align: center;
  color: white;
}

.header{

  background-color: rgb(5, 71, 5);
  color: grey;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;

}


.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.berlin {
  grid-column: 1/2;
  grid-row: 1;
}
.bernau {
  grid-column: 2/3;
  grid-row: 1;

}
.brandenburg {

  grid-column: 3/4;
  grid-row: 1;

}
.bremen { 

  grid-column: 4/5;
  grid-row: 1;


}
/* ---------------------------------Zeile 2------------------------------------------------------- */
.bremerhaven{
  grid-column: 1/2;
  grid-row: 2;


}
.madrid{
  grid-column: 2/3;
  grid-row: 2;


}
.magdeburg{
  grid-column: 3/4;
  grid-row: 2;


}
.mainz{
  grid-column: 4/5;
  grid-row: 2;


}
/* ---------------------------------Zeile 3------------------------------------------------------- */

.mannheim{
  grid-column: 1/2;
  grid-row: 3;


}
.marburg{
  grid-column: 2/3;
  grid-row: 3;


}
.newyork{
  grid-column: 3/4;
  grid-row: 3;


}
.stockholm{
  grid-column: 4/5;
  grid-row: 3;


}


.stadt{

  padding: 10px;
  border: 2px solid rgb(252, 249, 249);
  text-align: center;
  box-shadow: 10px 20px 15px rgb(212, 214, 212);

}